.container {
  container: card / inline-size;
  max-width: 960px;
  margin: 0 auto;

  @container (width <= 550px) {
    .card {
      background: black;

      h1 {
        color: red;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

.card {
  padding: 20px;

  background: green;
  color: white;

  border-radius: 8px;

  h1 {
    font-size: 32px;
    margin: 0 0 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
    text-wrap: balance;
  }
}
